#main{
    display: flex;
    padding: 20px;

}
#main #nav{
    margin-left: 20px;
    margin-right: 50px;
}
#nav{
    width: 20%;
    height: auto;
}
.todo    
{
    margin-bottom: 50px;
}
.category{
    display: flex;
    width:300px;
}
